@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    /* Cream or off-white background */
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links li {
    margin-right: 20px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.social-links li:last-child {
    margin-right: 0;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    padding-right: 50px;
    font-family: 'Roboto', monospace;
    font-weight: 300;
}

.main-menu li:first-child {
    margin-left: 0;
}



.fa-github,
.fa-envelope,
.fa-linkedin {
    font-size: 24px;
}

/* Section styles */
.section {
    margin-bottom: 40px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto', monospace;
    font-weight: 300;
}

.resume-button:hover {
    background-color: #555;
}


#home h1 {
    font-size: 60px;
    font-family: 'Protest Strike';
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 0px;
}

#home p {
    font-size: 20px;
    font-family: 'Roboto', monospace;
    font-weight: 300;
}

#about h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Protest Strike';
}

#about p {
    font-size: 20px;
    font-family: 'Roboto', monospace;
}

.classes-title {
    margin-bottom: 5px;
    font-weight: 800;
}

.class-container {
    background-color: #333; 
    padding: 10px; 
    border-radius: 5px; 
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'Roboto', monospace;
}

.class-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.class-list li {
    display: inline;
    margin-right: 10px;
    color: white;
}

#projects .container {
    text-align: left;
}

#projects h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Protest Strike';
    font-weight: 400;
}

#projects h3 {
    font-size: 22px;
    font-family: 'Roboto', monospace;
    font-weight: 700;
}

#projects p {
    font-family: 'Roboto', monospace;
    font-weight: 300;
}